@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Manage My Restaurant button */
.manage-restaurant-btn {
  background-color: #4f46e5 !important;
}

.manage-restaurant-btn:hover {
  background-color: #87e64b !important;
}
